<section>
    <img src="images/home-bg-img.svg" alt="Entrar na sala">
    <form action="/newuser" method="POST">
        <input name="username" type="text" id="room-id" placeholder="Usúario" required="required">
        <input name="password" type="text" id="room-id" placeholder="Senha" required="required">
        <button type="submit">
            <img src="images/enter-room.svg" alt="Entrar na sala">
            Logar
        </button>
    </form>
</section>